type atm_ipaddr_prop, file_type;
type atm_mdmode_prop, file_type;
type bootani_prop, file_type;
type ctl_ccci2_fsd_prop, file_type;
type ctl_ccci2_rpcd_prop, file_type;
type ctl_ccci3_fsd_prop, file_type;
type ctl_ccci_fsd_prop, file_type;
type coredump_prop, file_type;
type ctl_ccci_rpcd_prop, file_type;
type ctl_fusion_ril_mtk_prop, file_type;
type ctl_gsm0710muxd_prop, file_type;
type ctl_muxreport-daemon_prop, file_type;
type ctl_ril-daemon-mtk_prop, file_type;
type ctl_ril-proxy_prop, file_type;
type ctl_viarild_prop, file_type;
type ctl_volte_imcb_prop, file_type;
type ctl_volte_stack_prop, file_type;
type ctl_volte_ua_prop, file_type;
type debug_bq_dump_prop, file_type;
type debug_mdlogger_prop, file_type;
type debug_mtklog_prop, file_type;
type debug_netlog_prop, file_type;
type graphics_debug_prop, file_type;
type graphics_hwc_latch_unsignaled_prop, file_type;
type graphics_hwc_pid_prop, file_type;
type logmuch_prop, file_type;
type media_wfd_prop, file_type;
type meta_connecttype_prop, file_type;
type mtk_amsaal_prop, file_type;
type mtk_amslog_prop, file_type;
type mtk_bgdata_disabled, file_type;
type mtk_bluetooth_prop, file_type;
type mtk_capability_switch_prop, file_type;
type mtk_cba_activation, file_type;
type mtk_cdma_ecm_prop, file_type;
type mtk_common_data_prop, file_type;
type mtk_ctmslot_prop, file_type;
type mtk_em_net_auto_tethering_prop, file_type;
type mtk_em_sys_prop, file_type;
type mtk_em_tel_log_prop, file_type;
type mtk_gprs_attach_type, file_type;
type mtk_mdmi_prop, file_type;
type mtk_power_off_md_type, file_type;
type mtk_rcs_support_prop, file_type;
type mtk_rtt_prop, file_type;
type mtk_selfreg_prop, file_type;
type mtk_system_update_support_prop, file_type;
type mtk_telecom_vibrate, file_type;
type mtk_telephony_sensitive_prop, file_type;
type mtk_thermal_config_prop, file_type;
type mtk_uce_support_prop, file_type;
type mtk_update_prop, file_type;
type mtk_vsim_sys_prop, file_type;
type mtk_wfc_entitlement_prop, file_type;
type mtk_wfc_mccmnc_prop, file_type;
type mtk_wfc_opt_in_prop, file_type;
type mtk_world_phone_prop, file_type;
type persist_mdlog_prop, file_type;
type persist_mtklog_prop, file_type;
type persist_vendor_vzw_device_type, file_type;
type persist_xcap_rawurl_prop, file_type;
type usp_srv_prop, file_type;
type vendor_bluetooth_prop, file_type;
type vendor_cdma_prop, file_type;
type vendor_connsysfw_prop, file_type;
type vendor_ims_xcap_prop, file_type;
type vendor_imsconfig_prop, file_type;
type vendor_mdl_prop, file_type;
type vendor_mdl_pulllog_prop, file_type;
type vendor_mdl_start_prop, file_type;
type vendor_sim_system_prop, file_type;
type vendor_supp_serv_prop, file_type;
type vendor_usb_prop, file_type;
type vendor_vt_prop, file_type;
allow shell apexd_prop:file { getattr open };
allow shell atm_ipaddr_prop:file { getattr open };
allow shell atm_mdmode_prop:file { getattr open };
allow shell bluetooth_prop:file { getattr open };
allow shell bootani_prop:file { getattr open };
allow shell boottime_prop:file { getattr open };
allow shell bpf_progs_loaded_prop:file { getattr open };
allow shell coredump_prop:file { getattr open };
allow shell ctl_adbd_prop:file { getattr open };
allow shell ctl_bootanim_prop:file { getattr open };
allow shell ctl_ccci2_fsd_prop:file { getattr open };
allow shell ctl_ccci2_rpcd_prop:file { getattr open };
allow shell ctl_ccci3_fsd_prop:file { getattr open };
allow shell ctl_ccci_fsd_prop:file { getattr open };
allow shell ctl_ccci_rpcd_prop:file { getattr open };
allow shell ctl_console_prop:file { getattr open };
allow shell ctl_default_prop:file { getattr open };
allow shell ctl_fuse_prop:file { getattr open };
allow shell ctl_fusion_ril_mtk_prop:file { getattr open };
allow shell ctl_gsm0710muxd_prop:file { getattr open };
allow shell ctl_interface_restart_prop:file { getattr open };
allow shell ctl_interface_start_prop:file { getattr open };
allow shell ctl_interface_stop_prop:file { getattr open };
allow shell ctl_mdnsd_prop:file { getattr open };
allow shell ctl_muxreport-daemon_prop:file { getattr open };
allow shell ctl_restart_prop:file { getattr open };
allow shell ctl_ril-daemon-mtk_prop:file { getattr open };
allow shell ctl_ril-proxy_prop:file { getattr open };
allow shell ctl_rildaemon_prop:file { getattr open };
allow shell ctl_sigstop_prop:file { getattr open };
allow shell ctl_start_prop:file { getattr open };
allow shell ctl_stop_prop:file { getattr open };
allow shell ctl_viarild_prop:file { getattr open };
allow shell ctl_volte_imcb_prop:file { getattr open };
allow shell ctl_volte_stack_prop:file { getattr open };
allow shell ctl_volte_ua_prop:file { getattr open };
allow shell debug_bq_dump_prop:file { getattr open };
allow shell debug_mdlogger_prop:file { getattr open };
allow shell debug_mtklog_prop:file { getattr open };
allow shell debug_netlog_prop:file { getattr open };
allow shell device_config_activity_manager_native_boot_prop:file { getattr open read };
allow shell device_config_boot_count_prop:file { getattr open };
allow shell device_config_input_native_boot_prop:file { getattr open };
allow shell device_config_media_native_prop:file { getattr open };
allow shell device_config_netd_native_prop:file { getattr open };
allow shell device_config_reset_performed_prop:file { getattr open };
allow shell device_config_runtime_native_boot_prop:file { getattr open };
allow shell device_config_runtime_native_prop:file { getattr open };
allow shell dumpstate_options_prop:file { getattr open };
allow shell firstboot_prop:file { getattr open };
allow shell graphics_debug_prop:file { getattr open };
allow shell graphics_hwc_latch_unsignaled_prop:file { getattr open };
allow shell graphics_hwc_pid_prop:file { getattr open };
allow shell gsid_prop:file { getattr open };
allow shell llkd_prop:file { getattr open };
allow shell logmuch_prop:file { getattr open };
allow shell lowpan_prop:file { getattr open };
allow shell media_wfd_prop:file { getattr open };
allow shell meta_connecttype_prop:file { getattr open };
allow shell mmc_prop:file { getattr open };
allow shell mtk_amsaal_prop:file { getattr open };
allow shell mtk_amslog_prop:file { getattr open };
allow shell mtk_bgdata_disabled:file { getattr open };
allow shell mtk_bluetooth_prop:file { getattr open };
allow shell mtk_capability_switch_prop:file { getattr open };
allow shell mtk_cba_activation:file { getattr open };
allow shell mtk_cdma_ecm_prop:file { getattr open };
allow shell mtk_common_data_prop:file { getattr open };
allow shell mtk_ctmslot_prop:file { getattr open };
allow shell mtk_em_net_auto_tethering_prop:file { getattr open };
allow shell mtk_em_sys_prop:file { getattr open };
allow shell mtk_em_tel_log_prop:file { getattr open };
allow shell mtk_gprs_attach_type:file { getattr open };
allow shell mtk_mdmi_prop:file { getattr open };
allow shell mtk_power_off_md_type:file { getattr open };
allow shell mtk_rcs_support_prop:file { getattr open };
allow shell mtk_rtt_prop:file { getattr open };
allow shell mtk_selfreg_prop:file { getattr open };
allow shell mtk_system_update_support_prop:file { getattr open };
allow shell mtk_telecom_vibrate:file { getattr open };
allow shell mtk_telephony_sensitive_prop:file { getattr open };
allow shell mtk_thermal_config_prop:file { getattr open };
allow shell mtk_uce_support_prop:file { getattr open };
allow shell mtk_update_prop:file { getattr open };
allow shell mtk_vsim_sys_prop:file { getattr open };
allow shell mtk_wfc_entitlement_prop:file { getattr open };
allow shell mtk_wfc_mccmnc_prop:file { getattr open };
allow shell mtk_wfc_opt_in_prop:file { getattr open };
allow shell mtk_world_phone_prop:file { getattr open };
allow shell net_dns_prop:file { getattr open };
allow shell netd_stable_secret_prop:file { getattr open };
allow shell overlay_prop:file { getattr open };
allow shell persist_mdlog_prop:file { getattr open };
allow shell persist_mtklog_prop:file { getattr open };
allow shell persist_vendor_vzw_device_type:file { getattr open };
allow shell persist_xcap_rawurl_prop:file { getattr open };
allow shell persistent_properties_ready_prop:file { getattr open };
allow shell safemode_prop:file { getattr open };
allow shell system_lmk_prop:file { getattr open };
allow shell system_trace_prop:file { getattr open };
allow shell test_boot_reason_prop:file { getattr open };
allow shell theme_prop:file { getattr open };
allow shell time_prop:file { getattr open };
allow shell traced_lazy_prop:file { getattr open };
allow shell usp_srv_prop:file { getattr open };
allow shell vendor_bluetooth_prop:file { getattr open };
allow shell vendor_cdma_prop:file { getattr open };
allow shell vendor_connsysfw_prop:file { getattr open };
allow shell vendor_ims_xcap_prop:file { getattr open };
allow shell vendor_imsconfig_prop:file { getattr open };
allow shell vendor_mdl_prop:file { getattr open };
allow shell vendor_mdl_pulllog_prop:file { getattr open };
allow shell vendor_mdl_start_prop:file { getattr open };
allow shell vendor_sim_system_prop:file { getattr open };
allow shell vendor_supp_serv_prop:file { getattr open };
allow shell vendor_usb_prop:file { getattr open };
allow shell vendor_vt_prop:file { getattr open };
allow shell wifi_prop:file { getattr open };
