on boot
    setprop ro.bootimage.build.fingerprint ${ro.vendor.build.fingerprint}
    setprop ro.build.fingerprint ${ro.vendor.build.fingerprint}
	setprop ro.build.device ${ro.vendor.build.device}
	setprop ro.product.name ${ro.vendor.product.name}
	setprop ro.product.brand ${ro.vendor.product.brand}
	setprop ro.product.model ${ro.vendor.product.model}
	setprop ro.product.device ${ro.vendor.product.device}
	setprop ro.build.product ${ro.vendor.product.product}
	setprop ro.product.manufacturer ${ro.vendor.product.manufacturer}
	setprop ro.build.tags release-keys

on post-fs
	exec - root -- /system/bin/vndk-detect
	exec - root -- /system/bin/rw-system.sh
	mount none /system/etc/usb_audio_policy_configuration.xml /vendor/etc/usb_audio_policy_configuration.xml bind
	export LD_CONFIG_FILE /system/etc/ld.config.${persist.sys.vndk}.txt

service phh_on_boot /system/bin/phh-on-boot.sh
    oneshot
    disabled

on property:sys.boot_completed=1
    start phh_on_boot
    chown wifi system /data/misc/wifi
